.searchContainer {
    display: flex;
    flex-direction: column;

}

.searchOptions {
    display: flex;
    width: 100%;

}

/* .searchResults {


} */
.productDisplay {
    display: flex;
}


.product {
    
    margin: 10px;
    padding:10px;
    background-color: gray;
}